*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #1F1F1F !important;
    text-align: left;
    background-color: #E9E9E9 !important;
    scroll-behavior: smooth;
}

/* .nav {background-color: #8CADA7; overflow: auto;}
.nav ul {margin: 0; padding: 12px;}
.nav ul li {
    display: inline;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size: 20px;
    color: black;
    margin-left: 40px;
    padding: 20px;
    padding-top: 20px;
}
.nav a{
    background-color: #8CADA7;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    display: inline;
    font-size: 16px;
    cursor: pointer;
    padding: 4px;
    padding-top: 12px;

}
.nav a h1{
    color:black; font-size: 32px;
    border: 0px solid;
    border-color: grey;
    padding-top: 4px;
}
.nav p {
    color: black;
    font-size: 20px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    display: inline;
}
.left{float: left}
.right{float: right}

i {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 12px;
}

h1{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size: 50px;
    color: black;
}
h2 {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size: 20px;
    color: black;
}
h4 {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size: 12px;
    color: black;
}

.col button {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size: 20px;
    color: black;
    background-color: #e3d214;
    height: 60px;
    width: 200px;
    border-radius: 8px;
    margin: 10px;
} */

.dropDownText{
    font-size: 0.75vw;
    padding-left: 0.5vw;
    color: #1F1F1F;
}

.dropDownText:hover{
    color: #B8A99A !important;
    text-decoration: none !important;
}

.myDropDownItem{
    white-space: nowrap;
}

.myDropDownItem{
    white-space: nowrap;
    color: #B8A99A !important;
    text-decoration: none !important;
}

.buttonColor{
    background-color:#FAB565!important;
    border-color: rgb(255, 136, 0) !important;
    color: #1F1F1F!important;
}

.linkColor{
    color: #1F1F1F;
}

.linkColor:hover{
    color: #B8A99A;
    text-decoration: none;
}

/*FOR STAT TABLE*/

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #cccccc !important;
}

tr:nth-child(odd) {
    background-color: #E9E9E9 !important;
  }

.bg {
    /* The image used */
    background-image: url("../assets/Artboard1.jpg") !important;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.links:hover{
  font-weight: 700;
  text-decoration: none;
}
